[Unit]
Description=My Flask App
After=network.target

[Service]
User=root
WorkingDirectory={{ app_directory }}
ExecStart=/bin/python3 {{ app_directory }}/app.py
Restart=always

[Install]
WantedBy=multi-user.target